<label class="input {{#if error}} input-error {{/if}}">
    {{label}}
    <input class="{{className}}" type="{{type}}" placeholder="{{placeholder}}" name="{{name}}" value="{{value}}" {{#if
        accept}} accept="{{accept}}" {{/if}} required="{{required}}">
    <span class="error-message">{{error}}</span>
</label>
