<div class="profile-page__info">
    <label class="profile-page__info-name" for={{ data.id }}>{{ data.text }}</label>
    <input type={{ data.type }} name={{ data.name }} id={{ data.id }} {{#if data.value}} value={{ data.value }} {{/if}} {{#if data.placeholder}}placeholder={{ data.placeholder }}{{/if}}>
</div>
