<main>
    <section class="profile-page">
        {{{linkBack}}}
        <div class="profile-page__wrap">
            {{{avatar}}}
            <span class="profile-page__name">{{login}}</span>
            <div class="profile-page__info-wrap">
                {{{profileEmail}}}
                {{{ProfileLogin}}}
                {{{ProfileName}}}
                {{{ProfileSecondName}}}
                {{{ProfileDisplayName}}}
                {{{ProfilePhone}}}
            </div>
            <div class="profile-page__links-wrap">
                {{{linkChangeData}}}
                {{{linkChangePassword}}}
                {{{linkExit}}}
            </div>
        </div>
    </section>
    {{{modal}}}
</main>
