<header class="chat-section__header">
    <div class="chat-section__header__user">
        <img src="{{img}}" alt="{{name}}">
        <span>{{name}}</span>
    </div>
    <div class="chat-section__header__options">
        {{{dropdown}}}
    </div>
    {{{modal}}}
</header>
