<div class="chat-sidebar__user">
    <img class="chat-sidebar__user-img" src={{ data.img }} alt="user">
    <div class="chat-sidebar__user-details">
        <div class="user-details">
            <span class="user-details__name">{{ data.name }}</span>
            <span class="user-details__time">{{ data.time }}</span>
        </div>
        <div class="user-details">
            <span class="user-details__message">
                {{#if data.fromYou}}
                    <span>Вы:</span>
                {{/if}}
                {{ data.message }}
            </span>
            {{#if data.notifications.length}}
                <span class="user-details__notifications">{{ data.notifications }}</span>
            {{/if}}
        </div>
    </div>
</div>